:root {
    --color-grey-light: #f0eeee;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    background-color: var(--color-grey-light);
}