* {
    margin: 0;
    padding: 0;
    
}
:root {
    --color-primary: #55c57a;
    --color-primary-light: #7ed56f;
    --color-primary-dark: #28b485;
}
html{
    font-family: 62.5%;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-primary-dark);
    box-sizing: border-box;
}

